/* Start Page Style */
.container {
  width: 25rem;
  height: 25rem;
  margin-top: 3rem;
}
.title {
  text-align: center;
  align-content: center;
  width: 65%;
  display: inline-flex;
}
.title h2 {
  font-size: 2rem;
}
.title img {
  width: 2rem;
  margin-left: 2.5rem;
}
.drop-down h5 {
  font-size: 0.88rem;
  line-height: 1.5;
}
.drop-down img {
  margin-left: 3rem;
}
.para {
  font-size: 0.85rem;
}
.attribution {
  font-size: 0.98rem;
  margin-top: 2.5rem;
}
.attribution a:hover {
  text-decoration: underline;
}
/* End Page Style */
